
@{
    ViewData["Title"] = "ImportBigFile";
}
@section Styles{
    <style>
        #myProgress {
            width: 100%;
            background-color: #ddd;
        }

        #myBar {
            width: 1%;
            height: 30px;
            background-color: #4CAF50;
        }
    </style>
}

<h1>Import Big File</h1>


<div id="horizontal-form">
    <form class="form-horizontal" role="form" id="frmMaintainance">
        <div class="form-group">
            <label for="txtName" class="col-sm-2 control-label no-padding-right">Choose file</label>
            <div class="col-sm-10">
                <div class="input-group">
                    <input type="file" id="fileInputExcel" />
                </div>
            </div>
        </div>
    </form>
</div>
<button type="button" id="btnImportExcel" class="btn btn-success">Import Normal</button>

<button type="button" id="btnImportBulkCopy" class="btn btn-danger">Import using BulkCopy & Merge</button>


<hr />
<div class="row" id="progress-bar" style="display:none">
    <h1>Import Progress Bar</h1>
    <div id="myProgress">
        <div id="myBar"></div>
    </div>
</div>

<hr />
<div class="row" id="progress-bar-bulk-copy" style="display:none">
    <h1 id="status-bulk-copy"></h1>
</div>


@section Scripts{
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/document.hub.js"></script>
    <script src="~/js/home.js"></script>
    <script>
        var home = new homeController();
        home.initialize();
    </script>
}